.fornulario{
    display: flex;
    justify-content: center;
    margin: 80px 0px;

}
.fornulario form{
    max-width: 80%;
    background-color: #f6f6f6;
    box-shadow: 7px 7px 15px rgba(0, 0, 25%);
    border-radius: 20px;
    padding: 8px 100px;
}
.fornulario h2{
    font-size: 20p;
    font-weight: 30px;
    background-color: #212121;
}